certifi==2019.3.9
chardet==3.0.4
hupper==1.6.1
idna==2.8
PasteDeploy==2.0.1
plaster==1.0
plaster-pastedeploy==0.6
pyramid==1.10.2
python-dateutil==2.8.0
repoze.lru==0.7
requests==2.21.0
six==1.12.0
translationstring==1.3
urllib3>=1.24.2
venusian==1.2.0
waitress==1.2.1
WebOb==1.8.5
zope.deprecation==4.4.0
zope.interface==4.6.0
pymongo